.mtg-score-board
  .mtg-score(ng-repeat="player in players")
    .mtg-score-display
      span.mtg-jumbo(hm-tap="decrementScore(player)" hm-hold="invertScore(player)")
        | {{ player | mtgScoreFormat : settings.initialScore }}
    .mtg-score-history-latest(
        ng-if="player.historyLatest != null"
        hm-hold="clearScore(player)")
      span(ng-class="{ 'mtg-bg-negative': player.historyLatest < 0, 'mtg-bg-positive': player.historyLatest >= 0 }")
        | {{ "%+i" | sprintf : player.historyLatest }}
    .mtg-score-history
      .mtg-score-history-item(
        ng-class="{ 'mtg-text-negative': item < 0, 'mtg-text-positive': item >= 0 }"
        ng-repeat="item in player.history track by $index")
        | {{ "%+i" | sprintf : item }}
