.mtg-input.mtg-number-input
  .mtg-number-input-display {{ value }}
  .mtg-number-input-control
    span.mtg-number-input-control-item(
      ng-class="{'mtg-text-muted': value >= 50}"
      hm-tap="increment()")
      | +
    span.mtg-number-input-control-item(
      ng-class="{'mtg-text-muted': value <= 10}"
      hm-tap="decrement()")
      | &#8722;
