doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title MTG
    //- inject:css
    //- endinject
    //- inject:js
    //- endinject
  body(ng-app="mtg" ng-controller="mtgController")
    header
      nav
        a.mtg-nav(ui-sref="menu") Menu
        a.mtg-nav(ui-sref="index") Score
        a.mtg-nav(ui-sref="settings") Settings
    main(ui-view hm-swipe="navigate($event)")
