doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" sizes="144x144" href="apple-touch-icon.png")
    title MTG
    //- inject:css
    //- endinject
    //- inject:js
    //- endinject
  body(ng-app="mtg" ng-controller="mtgController")
    nav
      a.nav(ui-sref="menu")
        i.fa.fa-navicon
      a.nav(ui-sref="index")
        i.fa.fa-home
      a.nav(ui-sref="settings")
        i.fa.fa-sliders
    main(ui-view hm-swipe="navigate($event)")
