doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title MTG
    //- inject:css
    //- endinject
    //- inject:js
    //- endinject
  body(ng-app="mtg" ng-controller="mtgController")
    .mtg-score-board
      .mtg-score(ng-repeat="player in players")
        .mtg-score-player {{ player.name }}
        .mtg-score-display(hm-tap="score(player,-1)" hm-hold="score(player,1)")
          span.mtg-jumbo {{ player.score }}
        .mtg-score-history-latest(ng-if="player.historyLatest != null")
          span(ng-class="{ 'mtg-bg-negative': player.historyLatest < 0, 'mtg-bg-positive': player.historyLatest >= 0 }")
            | {{ "%+i" | mtgSprintf : player.historyLatest }}
        .mtg-score-history
          .mtg-score-history-item(
            ng-class="{ 'mtg-text-negative': item < 0, 'mtg-text-positive': item >= 0 }"
            ng-repeat="item in player.history track by $index")
            | {{ "%+i" | mtgSprintf : item }}
        .mtg-score-control
          .mtg-score-control-item(hm-tap="score(player,-5)") -5
          .mtg-score-control-item(hm-tap="score(player,+5)") +5
          .mtg-score-control-item(hm-tap="score(player,-10)") -10
          .mtg-score-control-item(hm-tap="score(player,+10)") +10
